*~
.*.swp
*.[oa]
*.deps
.dirstamp
libtool
/aclocal.m4
/autom4te.cache
/build-stamp
/ChangeLog
/config
/config.log
/config.guess
/config.status
/config.sub
/configure
/debian/files
/debian/vyatta-op
/debian/vyatta-op.postinst
/debian/vyatta-op.postrm
/etc/default/vyatta
/INSTALL
/Makefile.in
/Makefile

