Source: vyatta-op
Section: contrib/net
Priority: extra
Maintainer: Tom Grennan <tgrennan@vyatta.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: vyatta-op
Architecture: all
Depends: sed (>= 4.1.5),
 ethtool,
 traceroute,
 ntpdate,
 procps (>= 1:3.2.7-3),
 pciutils,
 lsof,
 coreutils (>= 5.97-5.3),
 host,
 vyatta-bash | bash (>= 3.1),
 less
Suggests: util-linux (>= 2.13-5),
 net-tools,
 ncurses-bin (>= 5.5-5),
Description: bash operational command completion
 Vyatta operational command bash completion script and base templates
