Source: vyatta-op
Section: net
Priority: extra
Maintainer: Tom Grennan <tgrennan@vyatta.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: vyatta-op
Architecture: all
Depends: bash, sed, procps, coreutils
Suggests: util-linux, net-tools, ethtool, ncurses-bin, ntpdate
Description: bash operational command completion
 Vyatta operational command bash completion script and base templates
